body {
    background-color: gray;
}
.box {
    background-color: green;
    width: 30px;
}
#container {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    background-color: green;
    padding: 10px;
}
.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}