body {
    background-color: gray;
}
.box {
    background-color: green;
    width: 30px;
}
#container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 5px));
    background-color: green;
}
.box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}
.box:hover {
    background: black;
}
.colored {
    background: black;
}